# flagfile for the roq-htx gateway

--rest_uri=https://api-aws.huobi.pro
--ws_market_uri=wss://api-aws.huobi.pro/ws
--ws_mbp_uri=wss://api-aws.huobi.pro/feed
--ws_order_uri=wss://api-aws.huobi.pro/ws/v2
